<header id="header" class="fixed-top">
  <div class="container-fluid d-flex justify-content-between align-items-center">

    <h1 class="logo me-auto me-lg-0"><a href="/">Naira</a></h1>

    <nav id="navbar" class="navbar order-last order-lg-0">
      <ul>
        <li {% if active == "/" %} class="active" {%endif%}><a href="/">Home</a></li>
        <li {% if active == "/about" %} class="active" {%endif%}> <a href="/about">About</a></li>
        <li {% if active == "/resume" %} class="active" {%endif%}><a href="/resume">Resume</a></li>
        <li {% if active == "/services" %} class="active" {%endif%}><a href="/services">Services</a></li>
        <li {% if active == "/portfolio" %} class="active" {%endif%}><a href="/portfolio">Portfolio</a></li>
        <li {% if active == "/contact" %} class="active" {%endif%}><a href="/contact">Contact</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>

    <div class="header-social-links">
      <a href="https://www.facebook.com/nara.asatrian.5" class="facebook"><i class="bi bi-facebook"></i></a>
      <a href="https://www.instagram.com/asana8834" class="instagram"><i class="bi bi-instagram"></i></a>
      <a href="https://www.linkedin.com/in/naira-assatrian-ba541b265" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
      <a href="https://github.com/nairaasa" class="github"><i class="bi bi-github"></i></a>
    </div>

  </div>

</header>