{% extends "base.html" %} {% load static %} {% block bodycontent %}

  <main id="main">

    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-8">
            <div class="portfolio-details-slider swiper">
              <div class="swiper-wrapper align-items-center">

                <div class="swiper-slide">
                  <img src="{{project.image.url}}" alt="">
                </div>

                <!-- <div class="swiper-slide">
                  <img src="{% static 'assets/img/portfolio/portfolio-2.jpg' %}" alt="">
                </div>

                <div class="swiper-slide">
                  <img src="{% static 'assets/img/portfolio/portfolio-3.jpg' %}" alt="">
                </div> -->

              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="portfolio-info">
              <h3>Project information</h3>
              <ul>
                <li><strong>Category</strong>: {{project.category}}</li>
                <li><strong>Client</strong>: {{project.client}}</li>
                <li><strong>Project date</strong>: 27 July, 2023</li>
                <li><strong>Project URL</strong>: <a href="{{project.url}}" target="_blank">{{project.url}}</a></li>
              </ul>
            </div>
            <div class="portfolio-description">
              <h2>{{project.short_description}}</h2>
              <p>{{project.description}}</p>
            </div>
          </div>

        </div>

      </div>
    </section>

  </main>

{% endblock %}